.box1, .box2 {
	font-size: 50px;
	font-weight: bold;
}
.box1, .box2 {
	display: inline-block;
}
img {
	margin: 13%;
	width: 250px;
	height: 250px;
}
.container {
	border: 1px solid #000;
	height: 350px;
	width: 350px;
	border-radius: 50%;
}